@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  align-items: center;
}

.centers {
  display: flex;
  padding-top: 20px;
  
  
}
.centersPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  padding-right: 10px;
}
.centerDetail{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  border-radius: 0.4rem;
  padding: 3px;
}

a:hover{
  background-color: rgb(76, 2, 173);
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 
}

.active {

  background-color: rgb(4, 4, 173);
  color: white;
}

.pending {
  background-color: rgb(23, 2, 116);
  color: white;
}